<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>{% block 'title' %}{% endblock 'title' %}</title>
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body >
    

    <main class="site">
        
        {% block 'content' %} 
        
        {% endblock 'content' %}

    </main>


    

   
   

    

    <script>
        // tailwind.config = {
        //     theme: {
        //         extend: {
        //             colors: {
        //                 transparent: 'transparent',
        //                 'white': '#FFFFFF',
        //                 'yellow': '#FFE047',
        //                 'yellow2': '#E6C72E',
        //                 'gray': '#302c55',
        //                 'gray2': '#2B293D',
        //                 'gray4':'#2D2C3C',
        //                 'gray3':'#A9A9A9',
        //                 'blue':'#4539B4',
        //                 'text' : '#5A5A5A'
        //             },
        //         }
        //     }
        // }
    </script>
    
</body>

</html>