{% extends 'base.html' %}

{% block 'title' %}Add Establish | Droupadi Mess{% endblock 'title' %}


{% block 'content' %}

<div class="entry-content">
    <div class="container">
        <div class="links">
            {% with request.resolver_match.url_name as url_name %}
                <ul>
                    <li><a href="{% url 'est-list' %}" {% if url_name == 'est-list' %}class="active"{% endif %}>Your Expenditures</a></li>
                    <li><a href="{% url 'add-est' %}" {% if url_name == 'add-est' %}class="active"{% endif %}>Add Expenditure</a></li>
                </ul>
            {% endwith %}
        </div> 

        <h2>Edit Expenditure</h2>
        <div class="bazar-list">
            <form method="post">
                {% csrf_token %}
                <label for="datepicker" class="form-label">Date</label>
                <input type="text" name="date" class="form-control mb-3" id="datepicker" value="{{exp.date|date:'Y-m-d'}}" placeholder="YYYY-MM-DD" required>
                
                <label class="form-label">Reasone</label>
                <select name="reasone" class="form-select mb-3">
                    <option value="GG" {% if exp.reasone == 'GG' %}selected{% endif %}>Ginger & Garlic</option>
                    <option value="OI" {% if exp.reasone == 'OI' %}selected{% endif %}>Oil</option>
                    <option value="CH" {% if exp.reasone == 'CH' %}selected{% endif %}>Green Chilli</option>
                    <option value="GS" {% if exp.reasone == 'GS' %}selected{% endif %}>Gas</option>
                    <option value="OT" {% if exp.reasone == 'OT' %}selected{% endif %}>Other</option>
                </select>
                
                <label class="form-label">Amount</label>
                <input type="text" name="amount" value="{{exp.amount}}" class="form-control mb-3" placeholder="" id="mobile">
                <small class="err-msg text-danger"></small>

                <button type="submit" class="btn btn-primary w-100 mt-3">Update</button>
            </form>
            
        </div>
    </div>
</div>


    
<script>
    $(function () {

        $("#datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            //hideIfNoPrevNext: true,
            minDate: "-1w",
            maxDate: "+1w",
            
        });
    });
</script>

{% endblock 'content' %}