{% extends 'base.html' %}

{% block 'title' %}Add Establish | Droupadi Mess{% endblock 'title' %}


{% block 'content' %}

<div class="entry-content">
    <div class="container">
        <div class="links">
            {% with request.resolver_match.url_name as url_name %}
                <ul>
                    <li><a href="{% url 'est-list' %}" {% if url_name == 'est-list' %}class="active"{% endif %}>Your Expenditures</a></li>
                    <li><a href="{% url 'add-est' %}" {% if url_name == 'add-est' %}class="active"{% endif %}>Add Expenditure</a></li>
                </ul>
            {% endwith %}
        </div> 
            
        {% if exps %}
            <div class="d-flex justify-content-between">
                <h2>Your Expenditures</h2>
                <h2>₹ {{ total_est }}</h2>
            </div>
            
            {% for exp in exps %}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center"><i class="fa-solid fa-calendar-days"></i> <span class="fw-medium ms-1">{{ exp.date|date:'d-m' }}</span></div>
                            <div>
                                {% if exp.reasone == 'OI' %}
                                    <span class="fw-medium">Oil</span>
                                {% elif exp.reasone == 'GG' %}
                                    <span class="fw-medium">Ginger & Garlic</span>
                                {% elif exp.reasone == 'CH' %}
                                    <span class="fw-medium">Green Chilli</span>
                                {% elif exp.reasone == 'GS' %}
                                    <span class="fw-medium">Gas</span>
                                {% elif exp.reasone == 'OT' %}
                                    <span class="fw-medium">Other</span>
                                {% endif %}
                            </div>
                            <div><span class="fw-semibold">₹ {{ exp.amount }}</span></div>
                            <div class="actions">
                                <a href="{% url 'edit-est' exp.id %}"><i class="fa-light fa-pen-to-square"></i></a>
                                <a href="{% url 'delete-est' exp.id %}"><i class="fa-light fa-trash"></i></a>
                            </div> 
                        </div>
                    </div>
                </div>
            {% endfor %}
                
        {% else %}
            <h6>You don't have any expenditure</h6>
        {% endif %}
    </div>
</div>


    
<script>
    $(function () {

        $("#datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            //hideIfNoPrevNext: true,
            minDate: "-1w",
            maxDate: "+1w",
            
        });
    });
</script>

{% endblock 'content' %}